MONGO_ROOT_USER=taskpulse
MONGO_ROOT_PASSWORD=change-moi
MONGO_DATABASE=taskpulse
MONGO_PORT=27017

MONGODB_URI=mongodb://taskpulse:change-moi@localhost:27017/taskpulse?authSource=admin

TASKPULSE_JWT_SECRET=genere-avec-openssl-rand-base64-32
TASKPULSE_COOKIE_SECURE=false
TASKPULSE_ALLOWED_ORIGINS=http://localhost:5173

SERVER_PORT=8080
